[flake8]
max-line-length = 120

exclude =
    __pycache__
    venv
    .env

per-file-ignores =
    __init__.py: F401

# waiting on https://github.com/PyCQA/flake8/issues/234 to consolidate config files