{% extends 'base.html' %}

{% block pageTitle %}・Wemos{% endblock %}
{% block pageHeader %}Wemos{% endblock %}

{% block page %}
<div class="mb-3 row justify-content-center">
    <div class="col col-md-6">
        <ul class="list-group">
            {% for wemo in config["WEMOS"] %}
            <li
                class="list-group-item list-group-item-light d-flex flew-columjustify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ wemo.name }}</div>
                    <div class="d-flex gap-2 font-monospace">
                        <span class="badge bg-primary rounded-pill">{{ wemo.addr }}</span>
                        <span class="badge bg-primary rounded-pill">{{ wemo.ip4 }}</span>
                    </div>
                </div>
                {% if wemo.state == "UNKNOWN" %}
                <i class="fas fa-question-circle"></i>
                {% elif wemo.state == "ON" %}
                <i class="fas fa-lightbulb text-warning"></i>
                {% else %}
                <i class="far fa-lightbulb text-dark"></i>
                {% endif %}
            </li>
            {% else %}
            <li class="list-group-item list-group-item-light">No wemos configured</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}