<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css' ) }}">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block page %}{% endblock %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js' ) }}"></script>
    <script defer src="{{ url_for('static', filename='fontawesome.min.js' ) }}"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>
