{% extends 'base.html' %}

{% block page %}
<div class="container">
    <div class="py-5 text-center">
        <i class="fas fa-warehouse fa-5x"></i>
        <h2>Garage Pi</h2>
        <p class="lead">Privacy</p>
    </div>

    <div class="py-5 row">
        <div class="col text-center">
            <p>Um just keep it on lan behind a vpn.</p>
        </div>
    </div>

    <footer class="my-5 pt-3 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020 Tommy's Garage</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><a href="/privacy">Privacy</a></li>
            <li class="list-inline-item"><a href="mailto:tjf3191@gmail.com">Support</a></li>
        </ul>
    </footer>
</div>
{% endblock %}
